@use "variaveis";

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$backColor;
    z-index: 1000;


    &--is-hidden {
        background-color: transparent;

        .header__logo,
        .header__links__item:first-child {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }
    &__logo,
    &__links__item:first-child {
        transition: all 0.5s ease;
    }
    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
    }

    &__links {
        display: flex;
        &__item {
            margin:5px;
        }
    }

    .button {
        height: 50px;
    }
}

