.plans {
  padding: 5.6vw;

  h2 {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    @media (max-width: 768px) {
      display: block;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      text-align: center;
      padding: 60px 44px 44px;
      max-width: 380px;
      width: 100%;

      &:nth-child(2) {
        background-image: url(../images/fundo_combo_plus.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      img {
        height: 63px;
        object-fit: contain;
        margin-bottom: 24px;
      }

      strong {
        margin-top: 24px;
        display: block;
        white-space: nowrap;
      }
    }
  }

  p {
    text-align: center;
  }
}
