@use "sass:color";
@use "hero";
@use "variaveis";
@use "shows";
@use "plans";
@use "available-devices";
@use "faq";
@use "footer";
@use "header";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  list-style: none;
}

body {
  background-color: variaveis.$backColor;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: variaveis.$corTextoSecundaria;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variaveis.$corTextoPrincipal;
}

.text--big {
  @include text(18px);
}

.text {
  @include text;
}

.text--small {
  @include text(12px);
}

.link-text {
  @include text(18px);
  color: variaveis.$corTextoSecundaria;
  text-decoration: underline;
}

.title--big {
  @include title(44px);
}

.title {
  @include title;
}

.title--small {
  @include title(28px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: variaveis.$corTextoSecundaria;
  background-color: variaveis.$corButton;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;
  letter-spacing: 1px;
  border: 1px solid variaveis.$corButton;

  &:hover {
    background-color: color.adjust(variaveis.$corButton, $lightness: 3%);
  }

  &--secondary {
    background-color: variaveis.$corButtonSecundario;
    border-color: variaveis.$corButtonSecundario;

    &:hover {
      background-color: color.adjust(variaveis.$corButtonSecundario, $lightness: 3%);
    }
  }

  &--dark {
    background-color: variaveis.$corButtonDark;
    border-color: variaveis.$corTextoSecundaria;

    &:hover {
      background-color: variaveis.$corTextoSecundaria;
      color: variaveis.$backColor;
    }
    
  }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 16px;
        }
    }

    &--image-full-width {
      display: block;
      position: relative;
      
      img {
        width: 100%;
      }

      &__text_container {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: calc(50% - 5.6vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
}
